<svg  width="40pt" height="32pt" viewBox="0 0 40 32" xml:space="preserve">
 <g id="rxt7" style="fill-rule:nonzero;clip-rule:nonzero;stroke:#000000;stroke-miterlimit:4;">
   <image width="40" height="32" xlink:href="data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAYAAABgrToAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSB
JbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZW
dpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sb
nM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2
LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmR
mPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZX
NjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhc
C8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1s
bnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiM
iIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOk
luc3RhbmNlSUQ9InhtcC5paWQ6RURFODI4Mzc2MzA2MTFFNDkyQUJDQkFENjkwQTlEQzQiIHhtc
E1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RURFODI4Mzg2MzA2MTFFNDkyQUJDQkFENjkwQTlEQzQi
PiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFREU4MjgzNTY
zMDYxMUU0OTJBQkNCQUQ2OTBBOURDNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFREU4Mj
gzNjYzMDYxMUU0OTJBQkNCQUQ2OTBBOURDNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6U
kRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PrIBwDMAAAkQSURBVHjaxFgLUFTX
Gf7uvnfZXR7yUFF5iQiyCL5pwTRE4ys+wKLWOE5DizSp085UbRPzckgy1TT4qJ3EoFXTxNYYh9G
oqTQ+qAKKRXwRq4hghV1Blscu+967e3ruXVjdsKtoZ+yZOezlnv+c853/8f3/uQwhBM+kdTUmo2
5XMbqbMsBalRArTAiJrcfwKeWIfa4MivB2f9OYZwaw/DdH0HDkJYjkvu8FIkAd3YqkBaUYt+yPk
KoMPsN4Vi0soR4SJSALtkE51ABZiA0M3Z61gmp1BKpLinGksBr6m+n/Hw26nWJ03dZQ0xopUBMF
JkfPf5Jx53QeGsuXwNqlAigW5TA9Zm95CZGamv8NoMMhY5vuJrl07TGMQmYSp46tZZRBxqdaq/t
2Ms58sAetNVP5/4ckNmHBziwoIu49MUBX6704698OFdmOnchjG5tHE4uVoeeEeHxKY8iOTYtFSQ
lXA2uRFUFbMxNGXTyCwnWIGl8JeViH58C9KpSvOYKW6ueoHJC2ohTT3yoaNEBi6A0zffLZesue/
a+6WnQKiMVgaIeA4S3j7jFA8XLe0dC9W+cHXOTGoQJ8u+7PnDyEEiB4RCcm/PxtpOR/wo8bWxJw
+GfV6NVFUh+1YuHuqYMKEvs/z83Tz325rve9LWvcHZ0KRqUEI5PSTeh0huFBMkEKsDcaNcRmVwR
cSBnVitD4Ltp7abSy6LkzBBUbPsbVL9bw4+qRt5GyeAc4pdm65Wg+9eNHAyREYNq6872uJUVHnd
duxFAfA6e5ALIcaAcjFLIB1xuR+Q8sPzQKS7+Kw6K9kzEquxpuFyg/vsNrj2uxOWU00l388726H
FFAbFQThnXFey17vsxnpFIwctljnNMFkWbsFYhFDt7dtG2x9torWWz9jQyXti2ejouEMSMb5Ivm
/EWUMvoKwtWdyH6jEIcLaqlJ1bhbNQ+plAfV0Y0IimyB3RBL3yf4BUgdX9Xz2hsHrQe+fpHXGmf
GxzUBNYabMLZjJ5dZvzxc4Dh/McvV3iEH63ownz6bd3z269CdHy2TzvrRQQSPaqSc2ApDSyJMbS
N5GbHcAqnawPupy64YAJDYHbKe1esPPBE4jq+ohumcxZbPDy4GcYORSMBpHjLf+W59l9C0ffcaH
iBrkcOiV4HQQ/SnOtYmg8OkAjdNILENAGhc//tPrfsPzx4UOM6ZvSzA8PJ88DxqnkQMt6F3CJwu
ESTBBsQ+f5QGx0TE5XzFj/fei4P5/si+oGr2AWj+9PPXzaX7VnIR6XcTluU0zPsbhEKPhiRir/m
IzQY4Wd7c/JjYjwdROdHomEaI+4Ip+80iqld6MqEnMOyGcNh6xHDSFDgs44x3BWftlem9728tZr
hFBb7BTaw2HpwwehjEk9IgmTgeorEJEA6N5OmFk+dk3PpOsA3NcFy4BOqDcN3VUlPTA3Bg+YXAH
1w2Y/rfH/gG46anfbBZpKYKU39VTLUYQ4Nmi4eonaykM7eg0l5RPZnf0DORnsYO4nBCkjkJQQVL
Qf0GgiFhgyP2bgOsX5fD/Kc9cNbfBKPqcxmnE7J5M04Gvbpyk2RS+hlqAftj3IjAsv9woVY5mug
iUokuUsN3rSKetCVlETpGiMtFnra5zRZi+N37hF8/fBzRRaURrXoM0YUmk45ZP6m3na6ax2EI1B
nqU9LORa9U2SsvTOznOtJrhiR7CkJ3b6FmHepzILPZjPLycpw6dQqtra2Ut8VISUlBbm4u0tPTA
yrCVLIDxnc/gtdCHACLlY/+4A/fWqt4ZVmJ34m28oq8e8Mz3Lpwj/a0ygTS8UI+cfcYB2ijrKyM
xMfHkz5v8ukMw5BVq1YRi8USUJtdK1YTbVCC10p8DxnL/brt52pf8KdBge346Vy+IuGSPo1OQWg
oQrZ/ACZY5XOQzZs3Iy8vD01NTQFdpbS0FIWFhQG1GPTLn3po6OEChQYR6TUxlr0HfuGX/51Xr0
/uj1pO5YrluRAlJ/oIceZcu3at301DQkIgEj2gk3379uHEiRN+ZcWaZAhHRXuoyGdADPbft8Zzw
ToAoFvfHeUpmeipKPvL5uYMWLikpAT9ZZlMJkNiYiIPKjU1FZ2dnZg5c6aP/PHjxwNmG0Yhp4nG
PXBQSHlQwAyo/QTUlF39GYFbQBAV4SOg1+tx4cIF/lmj0aCmpgYNDQ2oq6uDUqlEUVGRd9xbIHd
3+69Xu3rg7uymnCz0HaAaFaUmXaIgnQMASiamVfGZoY+jqD/4BhHNDlzn2rZt25CWluYFO23aNO
zatYvX4sNt3Lhx/uvKM+e5itw3w1BtMnIpaJXzV78+KF+6YA8TEmzlBDkftJ+t8RGIiopCdHQ0/
6xSqXyCgtPi9xsns3DhQn8VEsxbd3kq8Iffmy2QLZj1jTTnh0cDRl/PuuLdWlksH/LtmueJq63D
hx42btzIU0lmZiapqKggZ8+eJZT3/NLNpk2b/FJM9+o3iVYe50MxHOW0T55zl23RxQUiav6Pq6s
nomPGkmvcAlwG6cxfRdxWm3dxlmVJfn6+X0AP9w0bNgzMJBYr6X7tdQ+4iO+B0+S0Oy5/N/VRmc
T7wLZo4/Wzl1/WyihISQzRz11B2MY7PiC3b99OxowZw5NyPyi1Wk3mz59PKisrB4CjPkfuZy8i3
JpezYWl8GA7XlxW72xoSn0UOB+AXHcbjCGG376/l8vJrRhGaIYhhrc/JM5bTd5NHW43uX6nmVSc
P0fOX75E7hsNvhrrNRHrsRO8FXTBSUSrSqT5lwIbksJbRzc8gzW8+4eP3UZT8OPAeXKxn2uno+p
fM2nV+4792zNZrq4OCMPCIZmSAckPJkFKyVYSQ+vJYLXHh41GOHRtcN5qhvNSPZwXr4Jtvtt3iZ
LRYpmSsoOFICzYJZuTUx60uqCY3qFrBnsPD3wvJoShm2VZy75ZaT9ZOct5s3EkMRjBfU/hCZer8
wSUz+itjCtiqQ/wVTXDZRXuOkqzk0CtdIvGJDRKZ2QfkS+a/QXNUJef9KPDoC7u3CWK/e7mBMfF
a5ns9YZ0qqHR9H4c4TaZ1Xx6ohmAkUrs9L7cI4wIvy+MH3VLrBlbK56gOcd9aaD3E/vTftL5rwA
DAP+6tNUlPwbvAAAAAElFTkSuQmCC
"/>
</g>
</svg>